body {
    background-color: black;
    font-family: 'Open Sans', sans-serif; /* Google font */
    color: white;
    text-align: center;
}

main {
    height: 600px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

td a {
    display:block;
    width:100%;
}

table {
    width: 100%;
    background-color: blue;
    padding: 5px;
    table-layout: fixed;
}

.board {
    width: 100%;
    height: 100%;
}

.scores {
    height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.categories, .questionrow, .question, .category{ /* tr td */
    border: 3px solid black;
    border-collapse: collapse;
}

.ctitle {
    max-height: 150px; /* category row auto-resizes, this limits height */
}

.question, .category { /* td */
    background-color: green;
    width: 15%;
    margin-left: 1.4285714285714284%;
    text-align: center;
    border-spacing: 5px;
    padding: 5px;
}

.qvalue, .ctitle { /* span in td */
    font-weight: bold;
    vertical-align: middle;
    font-size: 4vmin;
}

.qvalue {
    color: yellow;
}

.init {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}