body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

/* links are not different color or underlined by default */
a {
    color: inherit;
    text-decoration: inherit;
}

/* make all of table cell with link clickable */
td a {
    display:block;
    width:100%;
}

table {
    /* we use nested tables to make table by column */
    width: 100%;
    height: 100%;
    /* don't rely on cell contents for sizing */
    table-layout: fixed;
}

td {
    width: 100%;
}

li, button {
    cursor: pointer;
}

.btn-link {
     background: none;
     color: inherit;
     border: none; 
     padding: 0;
     font: inherit;
     cursor: pointer;
     outline: none;
}

/* make game take up middle 90% of screen */
#game {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* game content (board or question) */
main {
    /* use most of the screen */
    height: 600px;
    /* leave space between board and scores below */
    margin-bottom: 20px;
    /* allow children to be positioned relative to its borders */
    position: relative;
}

/* category board table */
.board {
    background-color: black;
}

/* score display table */
.scores {
    height: 100px;
    background-color: blue;
}

/* cell in category board */
.boardcell{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: blue;
}

/* text displaying category title in board */
.ctitle {
    padding-left: 5px;
    padding-right: 5px;
    height: 140px;
}

/* text in category board */
.qvalue, .ctitle { /* span in td */
    font-weight: bold;
    vertical-align: middle;
    font-size: 4vmin;
}

/* text displaying question value in board */
.qvalue {
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
    height: 78px;
}

.qheader {
    font-weight: bold;
    font-size: 8vmin;
    margin-bottom: 50px;
}

.qtext {
    font-size: 6vmin;
}

.scoretext {
    font-size: 4vmin;
}

.scorebutton {
    font-size: 4vmin;
}

#nextbutton {
    position: absolute;
    bottom: 25px;
    left: 25%;
    width: 50%;
    height: 75px;
    background:#999;
}

/* form used for game init */
#init {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}