$cell-spacing: 6px;
$score-button-size: 1.75em;
$min-score-cell-width: calc(10ch + 2 * 1.75em + 4px); // depends on above
$section-spacing: 32px;
$cell-color: #0074d9;
$money-color: #ffdc00;
$background: #111111;

*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: 'Swiss 921 BT', 'Swiss921 BT', Impact, sans-serif;
}

a {
  color: inherit; /* not a different color than normal text */
  text-decoration: inherit; /* not underlined */
}

a,
button {
  cursor: pointer;
}

body {
  margin: 0; /* override default */

  background-color: $background;
  color: white;
  text-align: center;
}

/* container for the entirety of the game pages */
#game {
  padding: 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* game content (board or question) */
  #game-content {
    flex: 1;
    margin-bottom: $section-spacing;
    display: flex;
    position: relative; /* used to position next button */
    > * {
      width: 100%;
      height: 100%;
    }
  }
  /* score display table */
  #scores {
    flex: 0;
    font-size: 4vmin;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min-score-cell-width, 1fr));
    grid-gap: $cell-spacing;
    > * {
      display: flex;
      justify-content: space-around;
      padding: 8px;
      &:last-child {
        margin-right: 0;
      }
      > .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .scorebutton {
          font-size: 1rem;
          font-weight: bold;
          width: $score-button-size;
          height: $score-button-size;
        }
      }
    }
  }
  #team-scores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 4vmin;
    > * {
      width: 100%;
      padding: 8px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.timer-bars {
  height: 16px;
  width: 100%;
  display: flex;
  margin-bottom: -16px;
  margin-top: 8px;
  > * {
    background-color: rgb(67, 47, 54);
    border-color: rgb(152, 128, 138);
    border-width: 2px;
    border-style: solid;
    flex: 1;
  }
  >:first-child {
    border-left-width: 4px;
  }
  >:last-child {
    border-right-width: 4px;
  }
  > .timer-bar-lit {
    background-color: rgb(215, 0, 40);
  }
}

.buzzed-in-bar {
  position: absolute;
  left: 0;
  background: white;
  height: 8px;
  width: 100%;
}

.extraneous {
  .buzzed-in-bar {
    background: darkred;
  }
}

.buzzed-in-bar-top {
  top: 0;
}

.buzzed-in-bar-bottom {
  bottom: 0;
}

#board {
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: $cell-spacing;
  font-weight: bold;
  > *,
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ctitle {
    padding: 0.25em 0.5em;
    font-size: 3vmin;
    text-transform: uppercase;
  }
}

#board,
#scores,
#team-scores {
  > * {
    background: $cell-color;
    border-radius: 8px;
  }
  .buzzed {
    position: relative;
    overflow: hidden;
  }
}

#team-scores {
  .buzzed {
    background: rgb(93, 234, 242);
  }
}

/* text displaying money value */
.qvalue {
  color: $money-color;
}

.scorescore {
  color: white;
  &.negative {
    color: darkred;
  }
}
.scorename {
  font-family: 'Patrick Hand', cursive;
}

/* text in grids besides category names */
#board .qvalue,
#scores {
  font-size: 6vmin;
  font-weight: bold;
}

#question {
  display: flex;
  flex-direction: column;
  align-items: center;
  > *:first-child {
    flex: 1;
  }
  .qheader {
    font-weight: bold;
    font-size: 8vmin;
    margin-bottom: $section-spacing;
    text-transform: uppercase;
  }

  .qtext > * {
    font-size: 5vmin;
    height: 65%;
    font-family: 'Korinna', 'Libre Baskerville', 'Georgia', serif;
  }
}

.finalheader {
  padding-top: $section-spacing;
  font-size: 8vmin;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
}

.winner {
  font-size: 8vmin;
}

#nextbutton {
  height: 32px;
  padding: 0 32px;
  font-size: 16px;
  background: #999;
}

/* form used for game init */
#init,
#config {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.serial-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
  overflow: hidden;
  > img {
    width: 200%;
    height: 200%;
    object-fit: contain;
    transform: translate(-25%, -25%);
  }
}

.hstack {
  display: flex;
}

.flex1 {
  flex: 1;
}

.reverse {
  flex-direction: row-reverse;
}

.pad {
  padding: 0 8px;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.fill-parent {
  height: 100%;
  width: 100%;
}

.not-shown-yet {
  opacity: 0.5;
}
