@font-face {
  font-family: Korinna;
  src: url("/fonts/Korinna Regular.ttf") format("truetype");
}

@font-face {
  font-family: Korinna;
  font-weight: bold;
  src: url("/fonts/Korinna Bold.ttf") format("truetype");
}

/* page defaults */
body {
  background-color: black;
  font-family: 'Korinna', 'Libre Baskerville', 'Georgia', serif;
  color: white;
  text-align: center;
}

/* links are not different color or underlined by default */
a {
  color: inherit;
  text-decoration: inherit;
}

/* make all of table cell with link clickable */
td a {
  display:block;
  width:100%;
}

table {
  /* we use nested tables to make table by column */
  width: 100%;
  height: 100%;
  /* don't rely on cell contents for sizing */
  table-layout: fixed;
}

li, button {
  cursor: pointer;
}

/* container for the entirety of the game pages */
#game {
  /* make game take up middle 90% of screen */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  /* constant height -- all children are percent */
  height: 625px;
}

main {
  height: 100%;
}

/* game content (board or question) */
#game-content {
  /* use most of the screen */
  height: 82%;
  /* leave space between board and scores below */
  margin-bottom: 3%;
  /* allow children to be positioned relative to its borders */
  position: relative;
}

/* score display table */
#scores {
  height: 15%;
  background-color: black;
}

.crow {
  max-height: 140px;
}

/* cell in category board */
.boardcell{
  /*border: 2px solid black;*/
  border-collapse: collapse;
  background-color: blue;
}

/* text displaying category title in board */
.ctitle {
  height: 140px;
}

/* text in category board */
.qvalue, .ctitle { /* span in td */
  font-weight: bold;
  vertical-align: middle;
  font-size: 4vmin;
  padding-left: 5px;
  padding-right: 5px;
}

/* text displaying question value in board */
.qvalue {
  color: yellow;
}

.qheader {
  font-weight: bold;
  font-size: 8vmin;
  margin-bottom: 3%;
}

.qtext {
  font-size: 48px;
  height: 65%;
}

/* a table */
.scorecol {
  background-color: blue;
}

.scorename, .scorescore {
  font-size: 4vmin;
  font-weight: bold;
}

.scorescore {
  color: yellow;
}

.scorebutton {
  font-size: 16px;
  font-weight: bold;
}

.finalheader {
  padding-top: 15%;
  font-size: 8vmin;
}

.winner {
  font-size: 8vmin;
}

#nextbutton {
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 50%;
  height: 32px;
  background:#999;
  font-size: 16px;
}

/* form used for game init */
#init {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}